/* Main Styles */
.home {
    flex-grow: 1; /* Allow the main content to grow and take available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #f5f5f5;
}

/*joke container*/
#joke-container {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f0f8ff; /* Light background */
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#joke-container h2 {
    margin: 0 0 10px;
    color: darkblue;
    font-size: 24px;
}

#joke {
    color: navy;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

